body {
    background-color: beige;
    background-image: url("./bilder/thomas-ashlock-7G5dkthFyxA-unsplash.jpg");
}
h1 {
    color: rgb(209, 207, 98);
    font-size: 40px;
    font-family: "DM Serif Text", serif;
}
h2 {
    color: rgb(35, 33, 36);
}
p {
    color: rgb(11, 11, 11);
}
a {
    color: rgb(9, 25, 193);
}